[user]
	email = avanlendario@gmail.com
	name = vaguiiinho
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/5437499feb04f7a586f677b155b039bc2b3669eb/node /tmp/vscode-remote-containers-3e959e3c-fea5-4d75-b93c-0f4a753f309c.js git-credential-helper $*; }; f"
